/* 1900px ë¶€í„° 1600px ê¹Œì§€ */
@media all and (max-width: 1900px) and (min-width: 1601px) {
  .intro .section-wrapper {
    width: 90%;
  }
}

/* 1900px ë¶€í„° ëª¨ë°”ì¼ ì§ì „ê¹Œì§€ */
@media all and (max-width: 1900px) and (min-width: 577px) {
  .wrapper {
    overflow: hidden;
  }

  .section-wrapper {
    width: 75%;
  }
}

/* 1600px ë¶€í„° 1281px ê¹Œì§€ */
@media all and (max-width: 1600px) and (min-width: 1281px) {
  .intro .section-wrapper {
    width: 89%;
  }
}

/* 1600px ë¶€í„° 768px íƒ€ë¸”ë ›ê¹Œì§€ */
@media all and (max-width: 1600px) and (min-width: 769px) {
  .border-event.mini {
    width: 270px;
    height: 270px;
  }

  .tax-wrap .in-img {
    width: auto;
    max-width: auto;
    height: auto;
  }

  .tax-wrap .in-img > img {
    position: relative;
  }

  .tax-wrap .border-event {
    transform: translate(-35%, -48%);
  }

  .why-wrap .border-event {
    transform: translate(33%, -44%);
  }

  .why-wrap .in-img {
    width: 660px;
    max-width: auto;
  }
}

/* 1400px ë¶€í„° ëª¨ë°”ì¼ ì§ì „ê¹Œì§€ = (max-width: 1400px) */
@media all and (max-width: 1400px) and (min-width: 577px) {
  .tax-wrap {
    padding-bottom: 420px;
    margin-bottom: 0;
  }

  .tax-wrap .in-img {
    bottom: 0;
    right: 0;
  }

  .tax-wrap .in-img > img {
    bottom: -1px;
  }

  .why-wrap {
    padding-bottom: 350px;
    margin: 300px auto;
  }

  .why-wrap .in-img {
    width: 610px;
  }

  .why-wrap .in-img > img {
    bottom: -2px;
  }
}

/* 1280px ë¶€í„° 991px ê¹Œì§€ */
@media all and (max-width: 1280px) and (min-width: 992px) {
  .intro .section-wrapper {
    width: 87%;
  }

  .intro.active {
    background-size: cover;
  }

  .study-content {
    width: 180px;
    height: 180px;
    font-size: 14px;
  }

  .study .text-ani {
    width: 227px;
    font-size: 65px;
    height: 142px;
  }

  .study .content-wrap {
    margin-top: 30px;
  }

  .info .in-desc {
    font-size: 15px;
  }
  .contect ._title .in-tit {
    margin-right: 0.7em;
  }
}

/* 1180px ë¶€í„° 992px ê¹Œì§€ */
@media all and (max-width: 1180px) and (min-width: 992px) {
  /* contect */
  .contect ._title .in-tit {
    font-size: 2.6em;
  }

  .contect ._title .in-desc {
    font-size: 1.3em;
  }
}

/* 1080px ë¶€í„° ëª¨ë°”ì¼ ì§ì „ê¹Œì§€ = (max-width: 1080px) */
@media all and (max-width: 1080px) and (min-width: 577px) {
  .section-wrapper {
    width: 85%;
  }

  .tax-wrap .border-event {
    transform: translate(-12%, -53%);
  }

  .why-wrap .border-event {
    transform: translate(13%, -53%);
  }

  .study-wrapper.student {
    padding: 124px 0 106px;
  }

  .student .content-wrap {
    width: calc(180px * 3);
    margin: 44px auto 0;
  }

  .student .study-content {
    margin-bottom: 15px;
  }
}

/* 991px ë¶€í„° ëª¨ë°”ì¼ ì§ì „ê¹Œì§€ */
@media all and (max-width: 991px) and (min-width: 577px) {
  .intro-logo {
    width: 155px;
    margin: 35px auto 37px;
  }

  .intro-content .in-desc {
    padding-top: 55px;
    font-size: 1.4em;
  }

  .intro-content .in-desc:before {
    top: 23px;
  }

  .info .in-desc {
    font-size: 14px;
  }

  .tax-wrap {
    padding-bottom: 500px;
  }

  .tax-wrap .in-img {
    width: 70%;
    max-width: 700px;
  }

  .tax-wrap .in-img > img {
    width: 100%;
    left: -5%;
    min-width: 500px;
  }

  .why-wrap .in-img > img {
    width: 100%;
    min-width: 400px;
    right: -6%;
    bottom: -50px;
  }

  .student .content-wrap {
    width: calc(170px * 3);
  }

  .study-content {
    width: 170px;
    height: 170px;
    font-size: 13px;
  }

  .top-content .image-wrap {
    width: 80%;
    margin: 0px auto;
  }

  .top-content .image-wrap > img {
    width: 100%;
  }
  
  .user-teacher-wrap .objt-circle-wrap {
    width: 100%;
    height: 100%;
  }
  .objt-circle.circle1 {
    bottom: 41%;
    right: -8%;
  }
  .objt-circle.circle2 {
    top: 29%;
    left: 2%;
  }
  .objt-circle.circle3 {
    top: 17%;
    left: 11%;
  }

  .user .bottom-content .in-desc {
    font-size: 1.87em;
  }

  .user-student-wrap .bottom-content .in-desc ._color._big {
    font-size: 48px;
  }

  .user .content-description {
    font-size: 1.5rem;
  }

  .contect {
    padding-top: 76px;
  }

  .contect ._title {
    display: block;
  }

  .contect ._title .in-tit {
    display: block;
    margin-right: 0px;
    margin-bottom: 0.6em;
    font-size: 2.67em;
  }

  .contect ._title .in-desc {
    line-height: 1.5;
    font-size: 1.34em;
  }

  .contect-title {
    font-size: 0.9375em;
  }

  .contect-input-wrap .contect-input {
    font-size: 1.125em;
  }

  .contect-btn-wrap {
    margin-top: 19px;
  }

  .contect-btn-wrap .contect-btn {
    height: 70px;
    line-heighT: 76px;
  }
}

/* 991 ~ 768 íƒ€ë¸”ë › */
@media all and (max-width: 991px) and (min-width: 769px) {
  .intro .section-wrapper {
    width: 85%;
  }

  .text-ani {
    width: 375px;
    height: 150px;
    font-size: 65px;
  }
}

/* 768 ~ 577 íƒ€ë¸”ë › ~ ëª¨ë°”ì¼ */
@media all and (max-width: 768px) and (min-width: 577px) {
  body {
    font-size: 15px;
  }

  .section-wrapper {
    width: 83%;
  }

  .intro .section-wrapper {
    width: 80%;
  }

  .text-ani {
    width: 342px;
    height: 140px;
    font-size: 60px;
  }

  .info .in-desc {
    font-size: 13.5px;
  }

  .info .in-desc ._title {
    margin-bottom: 20px;
    line-height: 1.3;
  }

  .info .in-desc ._txt {
    line-height: 1.6;
  }

  .border-event.mini {
    width: 270px;
    height: 270px;
  }

  .tax-wrap .border-event {
    transform: translate(-11%, -62%);
  }

  .tax-wrap.active .in-img:before,
  .tax-wrap.active .in-img:after {
    width: 90%;
    transition: width 0.5s 1s;
    max-width: 468px;
  }

  .tax-wrap .in-img:before,
  .tax-wrap .in-img:after {
    height: 160px;
    bottom: 23px;
  }

  .tax-wrap.active .in-img:after {
    transition-delay: 1.3s;
  }

  .tax-wrap .in-img {
    width: 100%;
    max-width: 630px;
  }

  .tax-wrap .in-img > img {
    left: 25px;
  }

  .why-wrap {
    padding-bottom: 380px;
    margin: 350px auto 165px;
  }

  .why-wrap .border-event {
    transform: translate(13%, -55.5%);
  }

  .why-wrap .in-img {
    width: 100%;
    bottom: 0;
    max-width: 510px;
  }

  .study .text-ani {
    font-size: 70px;
    height: 150px;
  }

  .study-content {
    width: 160px;
    height: 160px;
    font-size: 15px;
    margin: 0 -9px;
  }

  .student .study-content {
    font-size: 13px;
  }

  .user .top-content {
    font-size: 16px;
  }

  .user .bottom-content {
    height: 400px;
  }

  .go_top {
    font-size: 70px;
  }
}
